<!DOCTYPE html>
<html>

<head>
    <title>Stock Price Predictor</title>
    <script>
        function setActionAndSubmit(form, action) {
            form.action = action;
            form.submit();
        }
    </script>
</head>

<body>
    <h1>Stock Price Predictor</h1>
    <form method="POST" id="predictionForm">
        <label for="stock">Stock Symbol:</label>
        <input type="text" id="stock" name="stock" required><br>
        <label for="period">Time Period:</label>
        <select id="period" name="period">
            <option value="1mo">1 Month</option>
            <option value="3mo">3 Months</option>
            <option value="6mo">6 Months</option>
            <option value="1y">1 Year</option>
            <option value="2y">2 Years</option>
            <option value="5y">5 Years</option>
            <option value="10y">10 Years</option>
        </select><br>

        <label for="algorithm">Algorithm:</label>
        <select id="algorithm" name="algorithm">
            <option value="linear">Linear Regression</option>
            <option value="random_forest">Random Forest</option>
            <option value="neural_network">Neural Network</option>
        </select><br>

        <input type="button" value="Predict" onclick="setActionAndSubmit(predictionForm, '{{ url_for('main.predict') }}')">
        <input type="button" value="Candlestick"
            onclick="setActionAndSubmit(predictionForm, '{{ url_for('main.candlestick') }}')">
    </form>

</body>

</html>